{erl_opts, [debug_info]}.
{deps, [{logger_formatter_json, "0.8.4"}]}.

{relx, [
    {release, {client, "0.1.0"}, [client, proto, sasl, logger_formatter_json]},
    {release, {server, "0.1.0"}, [server, proto, sasl, logger_formatter_json]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.

{dialyzer, [
    {flags, [
        error_handling,
        extra_return,
        missing_return,
        underspecs,
        unmatched_returns
    ]},
    {list_unused_filters, true}
]}.

{alias, [
    {check, [{fmt, "--check"}, dialyzer]}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.
